<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpf.nobug.database.mapper.DictMapper" >
  <resultMap id="BaseResultMap" type="com.dbpf.nobug.database.domain.Dict" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DICT_TYPE" property="dictType" jdbcType="VARCHAR" />
    <result column="DICT_TYPE_NAME" property="dictTypeName" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_STATUS" property="dictStatus" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="CREATER_TIME" property="createrTime" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="INTEGER" />
    <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DICT_TYPE, DICT_TYPE_NAME, DICT_NAME, DICT_CODE, DICT_STATUS, ORDER_NUM, CREATER_TIME, 
    CREATE_TIME, OPERATOR, OPERATE_TIME, VERSION, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dbpf.nobug.database.domain.DictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dict
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dbpf.nobug.database.domain.DictExample" >
    delete from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dbpf.nobug.database.domain.Dict" >
    insert into sys_dict (ID, DICT_TYPE, DICT_TYPE_NAME, 
      DICT_NAME, DICT_CODE, DICT_STATUS, 
      ORDER_NUM, CREATER_TIME, CREATE_TIME, 
      OPERATOR, OPERATE_TIME, VERSION, 
      REMARK)
    values (#{id,jdbcType=INTEGER}, #{dictType,jdbcType=VARCHAR}, #{dictTypeName,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, #{dictStatus,jdbcType=CHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{createrTime,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbpf.nobug.database.domain.Dict" >
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dictType != null" >
        DICT_TYPE,
      </if>
      <if test="dictTypeName != null" >
        DICT_TYPE_NAME,
      </if>
      <if test="dictName != null" >
        DICT_NAME,
      </if>
      <if test="dictCode != null" >
        DICT_CODE,
      </if>
      <if test="dictStatus != null" >
        DICT_STATUS,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="createrTime != null" >
        CREATER_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null" >
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictStatus != null" >
        #{dictStatus,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createrTime != null" >
        #{createrTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dbpf.nobug.database.domain.DictExample" resultType="java.lang.Integer" >
    select count(*) from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dict
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dictType != null" >
        DICT_TYPE = #{record.dictType,jdbcType=VARCHAR},
      </if>
      <if test="record.dictTypeName != null" >
        DICT_TYPE_NAME = #{record.dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null" >
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictCode != null" >
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictStatus != null" >
        DICT_STATUS = #{record.dictStatus,jdbcType=CHAR},
      </if>
      <if test="record.orderNum != null" >
        ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.createrTime != null" >
        CREATER_TIME = #{record.createrTime,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.operateTime != null" >
        OPERATE_TIME = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dict
    set ID = #{record.id,jdbcType=INTEGER},
      DICT_TYPE = #{record.dictType,jdbcType=VARCHAR},
      DICT_TYPE_NAME = #{record.dictTypeName,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_STATUS = #{record.dictStatus,jdbcType=CHAR},
      ORDER_NUM = #{record.orderNum,jdbcType=INTEGER},
      CREATER_TIME = #{record.createrTime,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      OPERATOR = #{record.operator,jdbcType=INTEGER},
      OPERATE_TIME = #{record.operateTime,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbpf.nobug.database.domain.Dict" >
    update sys_dict
    <set >
      <if test="dictType != null" >
        DICT_TYPE = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null" >
        DICT_TYPE_NAME = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictStatus != null" >
        DICT_STATUS = #{dictStatus,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createrTime != null" >
        CREATER_TIME = #{createrTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbpf.nobug.database.domain.Dict" >
    update sys_dict
    set DICT_TYPE = #{dictType,jdbcType=VARCHAR},
      DICT_TYPE_NAME = #{dictTypeName,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_STATUS = #{dictStatus,jdbcType=CHAR},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      CREATER_TIME = #{createrTime,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATOR = #{operator,jdbcType=INTEGER},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>